<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaMS | Home</title>
    <link rel="stylesheet" href="/styles/style.css" id="style">
    <link rel="icon" href="/assets/favicon.ico">
</head>
<body>
<header>
    <picture>
            <source srcset="/assets/logo-dark.svg" media="(prefers-color-scheme: dark)">
            <source srcset="/assets/logo-light.svg" media="(prefers-color-scheme: light)">
            <img src="/assets/logo-light.svg" alt="EaMS" style="height: 42px; margin-bottom: 16px;">
        </picture>
        
        <div id="nav">
            <a href="/en/"><strong>Home</strong></a>
            <a href="/en/blog/"><strong>Blog</strong></a>
            <a href="/en/pictures/"><strong>Pictures</strong></a>
        </div>
        <hr />
        <a style="float: right;" href="/"><strong>[pt-br]</strong></a>
    </header>

    <main>
        <h1>Home</h1>

        <div>
            <p style="text-align: center;">Welcome to my little corner on the internet! I post about my projects, thoughts, stories and whatever comes to mind!</p>
        </div>

        <br />

        <div id="container" style="display: flex; gap: 50px;">
            <div style="flex: 5;">
                <h2 style="text-align: center;">Recent posts</h2>

                {{range .Posts}}
                <a href="/en/blog/{{.Name}}"><h3>{{.Title}}</h3></a>
                <p>{{.TimeString}}</p>
                <p class="desc"><i>{{.Desc}}</i><p>
                {{end}}

                <hr />
                <a href="/en/blog/">Read the blog</a>
            </div>

            <div style="flex: 5;">
                <h2 style="text-align: center;">Latest picture</h2>

                {{range .Pictures}}
                <a href="/en/pictures/{{.Name}}">
                    <div style="text-align: center;">
                        <img class="img-gallery" src="/assets/images/{{.FileName}}" alt="{{.Title}}" style="max-width: 100%; height: auto;">
                    </div>
                    <h3>{{.Title}}</h3>
                </a>
                <p>{{.TimeString}}</p>
                <p><i>{{.Desc}}</i></p>
                {{end}}

                <hr />
                <a href="/en/pictures/">View more pictures</a>
            </div>
        </div>
        
        <br />

        <div style="max-width: 960px; margin: auto;">
            <h2 id="about">About the Author</h2>
            <p>Erick Augusto, 21-year-old brazilian, Computer Science student.</p>
            <h3 id="educao">Education</h3>
            <p>📖 (2023 - ) Bachelor's degree in Computer Science, Federal Institute of Education, Science and Technology of São Paulo (IFSP)</p>
            <h3 id="interesses">My main Interests</h3>
            <ul>
                <li>🖥️ Low-level programming, sysadmin and gamedev</li>
                <li>✈️ Aviation and space exploration</li>
                <li>⚛️ Natural Sciences</li>
                <li>🖌️ Drawing and illustration</li>
                <li>🚲 Cycling</li>
            </ul>
            <br />
            <p><i>Know more in: <a href="/en/blog/hello-world">Hello, World!</a></i></p>
        </div>

        <br />

        <hr />
    </main>

    <footer>
        © 2025-2026 Erick Augusto
        <br /><br />
        <a href="https://github.com/eams1234/site">GitHUB</a> |
        <a href="mailto:contato@eams.dev.br">E-Mail</a> |
        <a href="https://www.linkedin.com/in/eams1234/">LinkedIn</a> |
        <a href="https://instagram.com/eams1234">Instagram</a>
    </footer>
</body>
</html>
