<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЭaMS | Home</title>
    <link rel="stylesheet" href="/styles/style.css" id="style">
    <link rel="icon" href="/assets/favicon.ico">
</head>
<body>
<header>
    <picture>
            <source srcset="/assets/logo_dark.png" media="(prefers-color-scheme: dark)">
            <source srcset="/assets/logo_light.png" media="(prefers-color-scheme: light)">
            <img src="/assets/logo_light.png" alt="ЭaMS" style="height: 42px; margin-bottom: 16px;">
        </picture>
        
        <div id="nav">
            <a href="/en/"><strong>Home</strong></a>
            <a href="/en/blog/"><strong>Blog</strong></a>
            <a href="/en/pictures/"><strong>Pictures</strong></a>
            <a href="/en/about"><strong>About</strong></a>
        </div>
        <hr />
        <a style="float: right;" href="/"><strong>[pt-br]</strong></a>
    </header>

    <main>
        <h1>Home</h1>

        <div>
            <p style="text-align: center;">Welcome to my little corner on the internet! I post about my projects, thoughts, stories and whatever comes to mind!</p>

            <p style="text-align: center;"><i>- <a href="/en/about">Erick Augusto</a>, Computer Science student</i></p>
        </div>

        <br />

        <div id="container" style="display: flex; gap: 50px;">
            <div style="flex: 5;">
                <h2 style="text-align: center;">Recent posts</h2>

                {{range .Posts}}
                <a href="/en/blog/{{.Name}}"><h3>{{.Title}}</h3></a>
                <p>{{.TimeString}}</p>
                <p class="desc"><i>{{.Desc}}...</i><p>
                {{end}}

                <hr />
                <a href="/en/blog/">Read the blog</a>
            </div>

            <div style="flex: 5;">
                <h2 style="text-align: center;">Latest Picture</h2>

                {{range .Pictures}}
                <a href="/en/pictures/{{.Name}}">
                    <div style="text-align: center;">
                        <img src="/img/{{.FileName}}" alt="{{.Title}}" style="max-width: 100%; height: auto;">
                    </div>
                    <h3>{{.Title}}</h3>
                </a>
                <p>{{.TimeString}}</p>
                <p><i>{{.Desc}}...</i></p>
                {{end}}

                <hr />
                <a href="/en/pictures/">View more pictures</a>
            </div>
        </div>
        
        <hr />
    </main>

    <footer>
        2025-2026 © Erick Augusto
        <br /><br />
        <a href="https://github.com/eams1234/site">GitHUB</a> |
        <a href="mailto:contato@eams.dev.br">E-Mail</a> |
        <a href="https://www.linkedin.com/in/eams1234/">LinkedIn</a> |
        <a href="https://instagram.com/eams1234">Instagram</a>
    </footer>
</body>
</html>
