:root {
    color-scheme: light;

    --accent-blue: #0073ff;
    --accent-magenta: #ab00ff;
}

body {
    font-family: monospace;
    font-size: 15px;

    margin: 0px;
    padding: 0px;

    margin-left: 16vw;
    margin-right: 16vw;

    margin-top: 5vh;
}

hr {
    background: linear-gradient(90deg, var(--accent-blue), var(--accent-magenta));
    height: 2px;
    border: 0;
}

a {
    transition: .3s;
    color: var(--accent-blue);
    text-decoration: none;
}

a:hover {
    transition: .3s;
    color: var(--accent-magenta);
}

p {
    text-align: justify;
}

footer {
    text-align: center;
}
