:root {
    --accent-blue: #0073ff;

    --accent-magenta: #ab00ff;
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --background: #111922;
        --color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --background: white;
        --color: black;
    }
}

body {
    background-color: var(--background);
    color: var(--color);

    font-family: monospace;
    font-size: 18px;

    margin: 0px;
    padding: 0px;

    margin-left: 16vw;
    margin-right: 16vw;

    margin-top: 5vh;
    margin-bottom: 5vh;    
}

@media (max-width: 720px) {
  body {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

hr {
    background: linear-gradient(90deg, var(--accent-blue), var(--accent-magenta));
    height: 1px;
    border: 0;
}

a {
    transition: .3s;
    color: var(--accent-blue);
    text-decoration: none;
}

a:hover {
    transition: .3s;
    color: var(--accent-magenta);
}

p {
    text-align: justify;
}

input {
    font-family: monospace;
    font-size: 15px;
}

#bar {
    background-color: var(--background);
    border-style: none none solid none;
    border-width: 1px;
    border-color: var(--accent-blue);
    padding: 5px;
}

#bar:hover {
    transition: .5s;
    border-width: 1px;
    border-color: var(--accent-magenta);
}

#btn {
    background-color: var(--background);
    border: 2px solid var(--accent-blue);
    padding: 5px;
}

#btn:hover {
    transition: .5s;
    border-color: var(--accent-magenta);
}

footer {
    text-align: center;
}
