@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --accent-blue: #0073ff;
        --accent-magenta: #ab00ff;

        --background: #111922;
        --color: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;

        --accent-blue: #0073ff;
        --accent-magenta: #ab00ff;

        --background: white;
        --color: black;
    }
}

body {
    background-color: var(--background);
    color: var(--color);

    font-family: monospace;
    font-size: 15px;

    margin: 0px;
    padding: 0px;

    margin-left: 16vw;
    margin-right: 16vw;

    margin-top: 5vh;
    margin-bottom: 5vh;    
}

@media (max-width: 720px) {
  body {
    margin-left: 4vw;
    margin-right: 4vw;
  }
}

hr {
    background: linear-gradient(90deg, var(--accent-blue), var(--accent-magenta));
    height: 1px;
    border: 0;
}

a {
    transition: .3s;
    color: var(--accent-blue);
    text-decoration: none;
}

a:hover {
    transition: .3s;
    color: var(--accent-magenta);
}

p {
    text-align: justify;
}

footer {
    text-align: center;
}
