<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EaMS | Início</title>
    <link rel="stylesheet" href="/styles/style.css" id="style">
    <link rel="icon" href="/assets/favicon.ico">
</head>
<body>
    <header>
        <picture>
            <source srcset="/assets/logo-dark.svg" media="(prefers-color-scheme: dark)">
            <source srcset="/assets/logo-light.svg" media="(prefers-color-scheme: light)">
            <img src="/assets/logo-light.svg" alt="EaMS" style="height: 42px; margin-bottom: 16px;">
        </picture>
        
        <div id="nav">
            <a href="/"><strong>Início</strong></a>
            <a href="/artigos/"><strong>Artigos</strong></a>
            <a href="/galeria/"><strong>Galeria</strong></a>
        </div>
        <hr />
        <a style="float: right;" href="/en/"><strong>[en]</strong></a>
    </header>

    <main>
        <h1>Início</h1>

        <div>
            <p style="text-align: center;">Bem-vindo ao meu cantinho na internet! Aqui eu posto sobre os meus projetos, ideias, histórias e tudo o que der na telha</p>
        </div>

        <br />

        <div id="container" style="display: flex; gap: 50px;">
            <div style="flex: 5;">
                <h2 style="text-align: center;">Publicações recentes</h2>

                {{range .Posts}}
                <a href="/artigos/{{.Name}}"><h3>{{.Title}}</h3></a>
                <p>{{.TimeString}}</p>
                <p class="desc"><i>{{.Desc}}</i><p>
                {{end}}

                <hr />
                <a href="/artigos/">Ver artigos</a>
            </div>

            <div style="flex: 5;">
                <h2 style="text-align: center;">Imagem mais recente</h2>

                {{range .Pictures}}
                <a href="/galeria/{{.Name}}">
                    <div style="text-align: center;">
                        <img class="img-gallery" src="/assets/images/{{.FileName}}" alt="{{.Title}}" style="max-width: 100%; height: auto;">
                    </div>
                    <h3>{{.Title}}</h3>
                </a>
                <p>{{.TimeString}}</p>
                <p><i>{{.Desc}}</i></p>
                {{end}}

                <hr />
                <a href="/galeria/">Ver galeria</a>
            </div>
        </div>
        
        <br />

        <div style="max-width: 960px; margin: auto;">
            <h2 id="sobre">Sobre o Autor</h2>
            <p>Erick Augusto, brasileiro de 21 anos, estudante de Ciência da Computação.</p>
            <h3 id="educao">Educação</h3>
            <p>📖 (2023 - ) Bacharelado em Ciência da Computação, Instituto Federal de Educação, Ciência e Tecnologia de São Paulo (IFSP)</p>
            <h3 id="interesses">Meus principais interesses</h3>
            <ul>
                <li>🖥️ Programação de baixo nível, sysadmin e gamedev</li>
                <li>✈️ Aviação e exploração espacial</li>
                <li>⚛️ Ciências da Natureza</li>
                <li>🖌️ Desenho e ilustração</li>
                <li>🚲 Ciclismo</li>
            </ul>
            <br />
            <p><i>Saiba mais no artigo: <a href="/artigos/ola-mundo">Olá, Mundo!</a></i></p>
        </div>

        <br />

        <hr />
    </main>



    <footer>
        © 2025-2026 Erick Augusto
        <br /><br />
        <a href="https://github.com/eams1234/site">GitHUB</a> |
        <a href="mailto:contato@eams.dev.br">E-Mail</a> |
        <a href="https://www.linkedin.com/in/eams1234/">LinkedIn</a> |
        <a href="https://instagram.com/eams1234">Instagram</a>
    </footer>
</body>
</html>
