<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ЭaMS | Início</title>
    <link rel="stylesheet" href="/styles/style.css" id="style">
    <link rel="icon" href="/assets/favicon.ico">
</head>
<body>

    <header>
        <h1><strong>ЭaMS</strong></h1>
        <div id="nav">
            <a href="/"><strong>Início</strong></a>
            <a href="/artigos/"><strong>Artigos</strong></a>
            <a href="/galeria/"><strong>Galeria</strong></a>
            <a href="/sobre/"><strong>Sobre</strong></a>
        </div>
    </header>

    <main>
        <hr />

        <h1>Início</h1>

        <div id="container" style="display: flex; gap: 50px;">
            <div style="flex: 5;">
                <h2 style="text-align: center;">Publicações recentes</h2>

                {{range .Posts}}
                <a href="/artigos?a={{.Title}}"><h3>{{.Title}}</h3></a>
                <p>{{.TimeString}}</p>
                <p class="desc"><i>{{.Desc}}...</i><p>
                {{end}}

                <hr />
                <a href="/artigos/">Ver artigos</a>
            </div>

            <div style="flex: 5;">
                <h2 style="text-align: center;">Imagem mais recente</h2>

                {{range .Pictures}}
                <a href="/galeria?i={{.FileName}}">
                    <div style="text-align: center;">
                        <img src="/pictures/{{.FileName}}" alt="{{.Title}}" style="max-width: 100%; height: auto;">
                    </div>
                    <h3>{{.Title}}</h3>
                </a>
                <p><i>{{.TimeString}}</i></p>
                <p>{{.Summary}}...</p>
                {{end}}

                <hr />
                <a href="/galeria/">Ver galeria</a>
            </div>
        </div>
        

        <hr />
    </main>

    <footer>
        © Erick Augusto
        <br/>
        <a href="https://github.com/eams1234/site">GitHUB</a>
    </footer>
</body>
</html>
